.form-container{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 100px;
  
}

.inp{

    
    width: auto;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .form-container {
    width: 80%;
    padding: 20px; /* Adjust padding as needed for smaller screens */
  }

  .inp {
    width: 100%; /* Make the input width 100% on smaller screens */
  }
}